name: Deploy to EC2 via SSM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_SECRET_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-north-1   # change if needed
      - name: Deploy using SSM
        run: |
          aws ssm send-command \
            --instance-ids "${{ secrets.EC2_INSTANCE_ID }}" \
            --document-name "AWS-RunShellScript" \
            --comment "GitHub Actions deployment" \
            --parameters 'commands=[
              "set -e",
              "APP_DIR=/home/ec2-user/app",
              "REPO=https://github.com/sraviforaws/test_auto_deploy.git",
              "if [ ! -d \"$APP_DIR/.git\" ]; then git clone $REPO $APP_DIR; fi",
              "cd $APP_DIR",
              "git pull origin main",
              "python3 myfile.py > output.log 2>&1",
              "cat output.log"
            ]'
