name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -e

            APP_DIR=/home/ec2-user/app
            REPO_URL=github.com/sraviforaws/test_auto_deploy.git

            if [ ! -d "$APP_DIR/.git" ]; then
              echo "Repo not found. Cloning..."
              git clone https://$GH_TOKEN@$REPO_URL $APP_DIR
            else
              echo "Repo exists. Pulling latest changes..."
              cd $APP_DIR
              git pull origin main
            fi

            cd $APP_DIR
            python myfile.py
